.events-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.events-container div {
    width: 128px;
    height: 128px;
    border-radius: 16px;
    padding: 0.7rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(34, 34, 34);
}