#post-ad button {
    width: 7rem;
    height: 2.3rem;
    background-color: #36A6FD;
    font-size: 1rem;
    color: white;
    border: 0;
    border-radius: 20px;
}
#post-ad {
   display: flex;
   align-items: center;
}