#search {
    width: 40rem;
    height: 2.5rem;
    padding-left: 1rem;
    border: 0;
    border-radius: 8px;
    background-color: #F6F6F6;
    font-size: 1rem;
}
#searchDiv {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}
